@import '~angular-shared-scss/src/settings';
@import '~angular-shared-scss/src/mixins';

$InputGroup: ".InputGroup";
#{$InputGroup} {

    // decendent - .InputGroup-label
    $InputGroup-label-margin: 0 0 0.5rem !default;
    $InputGroup-label-font-size: 0.75rem !default;

    &-label {
        display: flex;
	    margin: $InputGroup-label-margin;
        width: 100%;
	    font-size: $InputGroup-label-font-size;
        position: relative;
        box-sizing: border-box;
    }

    &-labelText {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &--material {
        #{$InputGroup}-label {
            margin: 0;
            min-width: 100%;
            font-size: 1rem;
            transform: translateY(1.7rem) scale(1);
            transition: transform 0.4s $cubic-bezier, min-width 0.3s $cubic-bezier, padding 0.3s $cubic-bezier;
            transform-origin: left top;
            cursor: text;
        }

        &.has-icon #{$InputGroup}-label {
            padding: 0 2rem 0 0;
        }

        &.has-value, &.has-focus {
            #{$InputGroup}-label {
                padding: 0;
                transform: translateY(0.5rem) scale(.75);
                min-width: 130%;
                transition: transform 0.4s $cubic-bezier, min-width 0.5s $cubic-bezier 0.1s, padding 0.5s $cubic-bezier 0.1s;
            }
        }
    }

    &--angular {
        #{$InputGroup}-label {
            padding: 0.5rem 0.5rem 0;
            border-style: solid;
            border-width: 1px;
            border-color: $tower;
            margin: 0;
            border-bottom: 0;
            width: auto;
        }
        

        &:hover, &.has-focus {
            #{$InputGroup}-label {
                border-color: $sirocco-7;
            }
        }
    }

    // state - .InputGroup.has-value
    $InputGroup-has-value-input-border-color: $astral-1 !default;
    // state - .InputGroup.is-valid
    $InputGroup-is-valid-input-border-color: $apple !default;
    // state - .InputGroup.has-error
    $InputGroup-has-error-input-border-color: $persian-red !default;

    &.has-focus {
        #{$InputGroup}-label {
            font-weight: 600;
        }

        &.has-value #{$InputGroup}-label {
            border-color: $InputGroup-has-value-input-border-color;
            color: $InputGroup-has-value-input-border-color;
        }

        &.is-valid #{$InputGroup}-label {
            border-color: $InputGroup-is-valid-input-border-color;
            color: $InputGroup-is-valid-input-border-color;
        }

        &.has-error #{$InputGroup}-label {
            border-color: $InputGroup-has-error-input-border-color;
            color: $InputGroup-has-error-input-border-color;
        }
    }

    &.has-value &-label {
        z-index: 1;
        font-weight: 600;
    }

    &.is-required &-label:after {
        content: " *";
        font-size: 13px;
        vertical-align: top;
    }

    &.has-error &-label {
        border-color: $InputGroup-has-error-input-border-color;
        color: $InputGroup-has-error-input-border-color;
    }
}