<angular-input-group form-name="inputPassword.formName" field-name="{{inputPassword.fieldName}}" class="InputPassword">
    <angular-input-group-label>{{inputPassword.label}}</angular-input-group-label>
    <angular-input-group-input icon-type="EYE" icon-click="inputPassword.toggleFieldType()">
        <input angular-input id="{{inputPassword.fieldName}}" name="{{inputPassword.fieldName}}" type="{{inputPassword.fieldType}}" ng-model="inputPassword.parentModel"
            ng-change="inputPassword.updateParent()" ng-disabled="inputPassword.shouldDisable()" ng-required="inputPassword.shouldRequire()"
            minlength="{{inputPassword.minLength}}" maxlength="{{inputPassword.maxLength}}" ng-pattern="inputPassword.pattern" ng-trim="false" tabindex="{{inputPassword.tabIndex}}" />
    </angular-input-group-input>
    <angular-input-group-info>
        <angular-input-group-error-message-required>{{inputPassword.label}} is a required field</angular-input-group-error-message-required>
        <angular-input-group-error-message-minlength>{{inputPassword.label}} must be at least 8 characters long</angular-input-group-error-message-minlength>
        <angular-input-group-error-message-pattern>Your password must include: digits, lower case, one upper case, and one special character</angular-input-group-error-message-pattern>
    </angular-input-group-info>
</angular-input-group>