<angular-input-group form-name="inputPasswordConfirmation.formName" field-name="{{inputPasswordConfirmation.fieldName}}" class="InputPasswordConfirmation">
    <angular-input-group-label>{{inputPasswordConfirmation.label}}</angular-input-group-label>
    <angular-input-group-input icon-type="eye" icon-click="inputPasswordConfirmation.toggleFieldType()">
        <input angular-input id="{{inputPasswordConfirmation.fieldName}}" name="{{inputPasswordConfirmation.fieldName}}" type="{{inputPasswordConfirmation.fieldType}}"
            ng-model="inputPasswordConfirmation.parentModel" ng-change="inputPasswordConfirmation.updateParent()" ng-keyup="inputPasswordConfirmation.doesPasswordMatch()"
            ng-disabled="inputPasswordConfirmation.shouldDisable()" ng-required="inputPasswordConfirmation.shouldRequire()" ng-trim="false" tabindex="{{inputPasswordConfirmation.tabIndex}}"
        />
    </angular-input-group-input>
    <angular-input-group-info show-custom-message-1="inputPasswordConfirmation.showCustomError()">
        <angular-input-group-error-message-required>{{inputPasswordConfirmation.label}} is a required field</angular-input-group-error-message-required>
        <angular-input-group-error-message-custom1>Passwords do not match</angular-input-group-error-message-custom1>
    </angular-input-group-info>
</angular-input-group>